<div class="p-6">
  <div class="bg-white rounded-lg shadow px-4 py-5 sm:p-6">
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead>
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Invoice</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Company</th>
            <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Check</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          <% @invoices.each do |invoice| %>
            <tr>
              <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-900"><%= invoice.number %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500"><%= invoice.company.name %></td>
              <td class="whitespace-nowrap px-6 py-4 text-sm text-purple-600 hover:underline cursor-pointer"><%= invoice.checks.pluck(:number).join('') %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
